{% block stylesheets %}{% endblock %}

<footer>
    
    {% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer p-3 mt-4 text-center bg-dark text-light">
                    &copy; Pablo Lestau - {{ 'now'|date('d/m/Y') }} - {{ 'now'|date('H:i:s') }} - {{ 'now'|date('e') }}
                <br>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</footer>